h1, h2, h3, h4, h5, h6 {
  font-family: modesto-text, serif;
  font-style: normal;
}

p, li {
  font-family: skolar-latin, serif;
  font-weight: 400;
  font-style: normal;
}

pre, code {
  font-family: source-code-pro, monospace;
  font-style: normal;
}

body {
  background-color: #f7f7f7;
  line-height: 1.6;
}

header ul {
  margin: 0;
  padding: 0;
}

header ul li {
  list-style-type: none;
  display: inline;
}

header ul li:first-child a {
  padding-left: 0;
}

header ul li a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.5px;
  font-family: modesto-text, serif;
  padding: 4px 12px;
  opacity: 0.6;
  transition: opacity 400ms ease-in;
}

header ul li a:hover {
  opacity: 1;
}

header ul li a.active {
  opacity: 0.8
}

.container {
  max-width: 660px;
  margin: 30px auto;
  padding: 30px;
  background-color: #FFF;
  border: 1px solid #d8d8d8;
}